{% extends "/doctor/doctor-dash-base.html" %}
{% block content %}

    <hr class="invisible">
   <!-- Appointment step one  -->

<div class="row">
    
       <div id="schedule-step-one" class="panel panel-green">
          <div class="panel-heading">
         Create Schedule
          </div>
      <div class="panel-body">
      <form class="form-horizontal">

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Location</label>
          <div class="col-sm-6">
            <select id="sel-work-locations" class="form-control" name="">
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="from-date" class="col-sm-2 control-label">From Date</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" name="from-date" id="from-date" >
          </div>
        </div>

        <div class="form-group">
          <label for="to-date" class="col-sm-2 control-label">To Date</label>
          <div class="col-sm-6">
            <input type="date" class="form-control" name="to-date" id="to-date" >
          </div>
        </div>


            <div class="form-group">
          
         
                  <label for="" class="col-sm-2 control-label">Days</label>
                 <div class="col-sm-6 ">
           <label class="  checkbox-inline" >
                    <input id="chk-all-weekdays" type="checkbox"  name="" >All</br>
                  </label>
                  <label  class="checkbox-inline">
                    <input  type="checkbox"  name="" id="chk-mon"  >Mon</br>
                  </label>
                  <label  class="checkbox-inline">
                    <input type="checkbox"  name="" id="chk-tue"  >Tue</br>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox"  name="" id="chk-wed"  >Wed</br>
      </label>
                  <label  class="checkbox-inline">
                    <input type="checkbox"  name="" id="chk-thu"  >Thu</br>
                  </label>
                  <label class="checkbox-inline" >
                    <input type="checkbox"  name="" id="chk-fri"  >Fri</br>
                  </label>
                  <label class="checkbox-inline" >
                    <input type="checkbox"  name="" id="chk-sat"  >Sat</br>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox"  name="" id="chk-sun"  >Sun</br>
                  </label>
</div>
 </div>
                 

               

       
          <label for="" class="col-sm-2  control-label">Timings:</label>
       


      

</form>

<div class="form-inline col-sm-offset-2">
    <div class="form-group">
          <span for="" >From</span>
          
            <input type="time" class="form-control" name="" id="" >
         
        </div>

        <div class="form-group">
          <span for="">To</span>
          
            <input type="time" class="form-control" name="" id="" >
        
        </div>
  
     
</div>
      </div>
        <div class="panel-footer">
          <div class="row">
          <div class="text-center">
           <button type="button" class="btn btn-success " id="btn-schedule-next">Next</button>
          </div>

          </div>
          </div>
        </div>
     
    
    




  <!-- Appointment step two  -->

  <div id="schedule-step-two" class="col-sm-10 panel panel-green ">
    <div class="panel-tittle">

      <h2 class="text-center">Create Schedule</h2>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">

        <div id="calander">

          <table class=" table table-hover table-responsive table-bordered">

            <thead>
              <tr class="info" id="table-header-row-schedule-calander">
                <td></td>
              </tr>
            </thead>

            <tbody id="table-body-schedule-calander" >

              <tr id="table-row-schedule-calander" >
              </tr>


            </tbody>

          </table>
        </div>



        <button type="button" class="btn btn-info " id="btn-schedule-create">Create Schedule</button>
</form>
      </div>
    
  </div>

  <!-- Appointment step two  -->

</div>
  





</body>
{% endblock %}
{% block addScripts %}
<script src="js/new.schedule.js"></script>
{% endblock %}
