{% extends "/doctor/doctor-dash-base.html" %}
{% block addCss %}
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<section id="schedule-Table">
  <!-- /.row -->
  <div class="row">
    <hr class="invisible">
    <div class="col-lg-12">

      <div class="row pull-left">
        <button type="button" class="btn col-md-offset-2 btn-info" id="btn-new-schedule">New Schedule</button>
      </div>
      <hr class="invisible">
      <hr class="invisible">

      <div class="row">

        <div class="col-lg-12">

          <div class="row">
            <h4 class="text-center">May 2016</h4>
            <div class="col-md-2 col-sm-12">
              <div class="">
                <ul class="list-unstyled">
                  <li><label class="label label-primary">&nbsp;&nbsp;</label><span class="invisible">.....</span><label>Margao </label></li>
                  <li><label class="label label-info">&nbsp;&nbsp;</label><span class="invisible">.....</span><label>Cuncolim </label></li>
                  <li><label class="label label-warning">&nbsp;&nbsp;</label><span class="invisible">.....</span><label>Panjim </label> </li>

                  <!-- #337ab7 blue  #F44336 red green #4CAF50 -->
                </ul>

              </div>
            </div>

          </div>
          <div class="row">

          </div>
          <div class="row">
            <div class="table-responsive">

              <div class="col-md-12 responsive col-sm-12">

                <form class="  form-inline">
                  <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary"><span class='glyphicon glyphicon-menu-left'></span></button>

                    <button type="button" class="btn btn-primary"><span class='glyphicon glyphicon-menu-right'></span></button>
                  </div>

                </form>

              </div>
              <hr class="invisible" >

              <hr >
              <table class="calendarTable table table-bordered  ">
                <thead >
                  <tr>
                    <th class="text-center">Mon</th>
                    <th class="text-center" >Tue</th>
                    <th class="text-center">Wen</th>
                    <th class="text-center">Thu</th>
                    <th class="text-center">Fri</th>
                    <th class="text-center">Sat</th>
                    <th class="text-center">Sun</th>

                  </tr>
                </thead>
                <tbody>
                  <tr >

                    <td height="100">

                      <span class=" font-16 calendar-date">1</span><br>
                      <div class="">
                        <span class="label label-primary location-label " data-toggle="collapse" href="#collapseExample2"></span>
                        <span class="black font-10">12:00 PM - 01:00 AM</span>
                      </div>
                      <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample1"></span>
                      <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample1"></span>

                    </td>

                    <td>
                      <span class=" font-16 calendar-date">2</span><br>
                      <span class="label label-primary location-label" data-toggle="collapse" href="#collapseExample1"></span>
                      <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample1"></span>
                      <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample1"></span>

                    </td>
                    <td>
                      <span class=" font-16 calendar-date">3</span><br>
                      <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
                      <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
                      <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

                    </td>
                    <td>
                      <span class=" font-16 calendar-date">4</span><br>
                      <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
                      <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
                      <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

                    </td>
                    <td>
                      <span class=" font-16 calendar-date">5</span><br>
                      <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
                      <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
                      <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

                    </td>
                    <td>
                      <span class=" font-16 calendar-date">6</span><br>
                      <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
                      <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
                      <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

                    </td>
                    <td>
                      <span class=" font-16 calendar-date">7</span><br>
                      <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
                      <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
                      <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

                    </td>
                    
                  </tr>

                  <!---------- collapse section---------

                  <tr  class="collapse"  id="collapseExample1">

                  <td colspan="7" >
                  <ul class="list-group">
                  <li class="list-group-item">
                  <label><small>Patient:&nbsp;&nbsp;</small></label><small>Joseph Dsouza</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label><small>Time:&nbsp;&nbsp;</small></label><small>14:00 Pm To 15:00 Pm</small>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=" pull-right btn-sm btn btn-primary calender-list-group-btn"  data-toggle="collapse" href="#collapseAppointmentDetails1">more</button>
                  <div class="collapse" id="collapseAppointmentDetails1">
                  <label>Diagnosis:</label><p >   Bronchitis /Lung infection</p>
                  <button class="btn btn-sm btn-danger">Cancel Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-warning">Re-Schedule Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-info">Patient history</button>

                </div>

              </li>

              <li class="list-group-item">
              <label><small>Patient:&nbsp;&nbsp;</small></label><small>Tom Cruz</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label><small>Time:&nbsp;&nbsp;</small></label><small>15:00 Pm To 16:00 Pm</small>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=" pull-right btn-sm btn btn-primary calender-list-group-btn"  data-toggle="collapse" href="#collapseAppointmentDetails11">more</button>
              <div class="collapse" id="collapseAppointmentDetails11">
              <label>Diagnosis:</label><p >   Bronchitis /Lung infection</p>
              <button class="btn btn-sm btn-danger">Cancel Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-warning">Re-Schedule Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-info">Patient history</button>

            </div>

          </li>
          <li class="list-group-item">
          <label><small>Patient:&nbsp;&nbsp;</small></label><small>Barreto Fernandes</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label><small>Time:&nbsp;&nbsp;</small></label><small>16:00 Pm To 17:00 Pm</small>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="pull-right btn-sm btn btn-primary calender-list-group-btn"  data-toggle="collapse" href="#collapseAppointmentDetails11">more</button>
          <div class="collapse" id="collapseAppointmentDetails11">
          <label>Diagnosis:</label><p >   Bronchitis /Lung infection</p>
          <button class="btn btn-sm btn-danger">Cancel Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-warning">Re-Schedule Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-info">Patient history</button>

        </div>

      </li>


    </ul>
  </td>
</tr>
-->

<td height="100">

  <span class=" font-16 calendar-date">8</span><br>
  <span class="label label-primary location-label " data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span>


</td>


<td>
  <span class=" font-16 calendar-date">9</span><br>
  <span class="label label-primary location-label" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span><br>


</td>
<td>   <span class=" font-16 calendar-date">10</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">11</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

</td>
<td>   <span class=" font-16 calendar-date">12</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">13</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">14</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>

</tr>
<!---------- collapse section---------

<tr  class="collapse"  id="collapseExample2">

<td colspan="7" >
<ul class="list-group">
<li class="list-group-item">
<label><small>Patient:&nbsp;&nbsp;</small></label><small>Ignetious Dsouza</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><small>Time:&nbsp;&nbsp;</small></label><small>15:00 Pm To 16:00 Pm</small>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn-sm btn btn-primary calender-list-group-btn"  data-toggle="collapse" href="#collapseAppointmentDetails2">more</button>
<div class="collapse" id="collapseAppointmentDetails2">
<label>Diagnosis:</label><p >   Bronchitis /Lung infection</p>
<button class="btn btn-sm btn-danger">Cancel Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-warning">Re-Schedule Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-info">Patient history</button>

</div>

</li>


</ul>
</td>
</tr>
-->



<td height="100">

  <span class=" font-16 calendar-date">15</span><br>
  <span class="label label-primary location-label " data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span>


</td>


<td>
  <span class=" font-16 calendar-date">16</span><br>
  <span class="label label-primary location-label" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span><br>


</td>
<td>
  <span class=" font-16 calendar-date">17</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>
  <span class=" font-16 calendar-date">18</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

</td>
<td>   <span class=" font-16 calendar-date">19</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">20</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">21</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>

</tr>
<!--
<tr  class="collapse"  id="collapseExample3">

<td colspan="7" >
<ul class="list-group">
<li class="list-group-item">
<label><small>Patient:&nbsp;&nbsp;</small></label><small>Joseph Dsouza</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><small>Time:&nbsp;&nbsp;</small></label><small>15:00 Pm To 16:00 Pm</small>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn-sm btn btn-primary calender-list-group-btn"  data-toggle="collapse" href="#collapseAppointmentDetails3">more</button>
<div class="collapse" id="collapseAppointmentDetails3">
<label>Diagnosis:</label><p >   Bronchitis /Lung infection</p>
<button class="btn btn-sm btn-danger">Cancel Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-warning">Re-Schedule Appointment</button><span class="invisible">..</span><button class="btn btn-sm btn-info">Patient history</button>

</div>

</li>


</ul>
</td>
</tr>
-->


<td height="100">

  <span class=" font-16 calendar-date">22</span><br>

  <span class="label label-primary location-label " data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span>


</td>


<td>
  <span class=" font-16 calendar-date">23</span><br>
  <span class="label label-primary location-label" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span><br>


</td>
<td>   <span class=" font-16 calendar-date">24</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">25</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span>

</td>
<td>   <span class=" font-16 calendar-date">26</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">27</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>
<td>   <span class=" font-16 calendar-date">28</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>

</tr>

<!---------- collapse section---------

<tr  class="collapse"  id="collapseExample2">

<td colspan="6" >
<ul class="list-group">
<li class="list-group-item"> <h4 class="list-group-item-heading">Location :Margao</h4>

<p >    Back Diagnosis of Joseph Pinto</p><br>
<button class="btn  btn-primary">Cancel Appointment</button><span class="invisible">....</span><button class="btn  btn-warning">Re-Schedule Appointment</button></li>


</ul>
</td>
</tr>

-->


<td height="100">

  <span class=" font-16 calendar-date">29</span><br>

  <span class="label label-primary location-label " data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span>


</td>


<td>
  <span class=" font-16 calendar-date">30</span><br>
  <span class="label label-primary location-label" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-info" data-toggle="collapse" href="#collapseExample2"></span>
  <span class="location-label label label-warning" data-toggle="collapse" href="#collapseExample2"></span><br>


</td>
<td>   <span class=" font-16 calendar-date">31</span><br>
  <span class="label label-primary location-label" href="#Margao" data-toggle="tab"></span>
  <span class="location-label label label-info" href="#Cuncolim" data-toggle="tab"></span>
  <span class="location-label label label-warning" href="#Panjim" data-toggle="tab"></span><br>

</td>

</tr>

<!---------- collapse section--------
<tr  class="collapse"  id="collapseExample2">

<td colspan="6" >
<ul class="list-group">
<li class="list-group-item"> <h4 class="list-group-item-heading">Location :Margao</h4>

<p >    Back Diagnosis of Joseph Pinto</p><br>
<button class="btn  btn-primary">Cancel Appointment</button><span class="invisible">....</span><button class="btn  btn-warning">Re-Schedule Appointment</button></li>


</ul>
</td>
</tr>


--->



</tbody>
</table>
</div>

<!-- /.table-responsive -->
</div>

</div>

</div>
<!-- /.row -->





</div>

</div>

</div>
</section>
{% endblock %}

{% block addScripts %}
<script src="js/schedule.calendar.js"></script>
{% endblock %}
