{% extends "/doctor/doctor-dash-base.html" %}
{% block content %}

<section id="add-Staff-Form-Section">
      <div class="row">
          <hr class="invisible">
<div class="col-md-12">
<div class="panel panel-green">
<div class="panel-heading">
  Staff Details
</div>
<div class="panel-body">
<form name="staffFrm" id="staffFrm" role="form" >
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="fname">First Name:<span style="color:red;">*</span></label>
          <input id="fname" name="fname" class="form-control" placeholder="Enter First Name" value="">
        </div>
        <div class="form-group">
          <label for="lname">Last Name:<span style="color:red;">*</span></label>
          <input id="lname" name="lname" class="form-control" placeholder="Enter Last Name" value="">
        </div>
        <div class="form-group">
          <label for="contact1">Contact 1:<span style="color:red;">*</span></label>
          <input id="contact1" name="phone1" class="form-control" placeholder="Enter Phone-1" value="">
        </div>
        <div class="form-group">
          <label for="contact2">Contact 2:</label>
          <input id="contact2" name="phone2" class="form-control" placeholder="Enter Phone-2" value="">
        </div>
        <div class="form-group">
          <label for="email">Email:<span style="color:red;">*</span></label>
          <input id="email" name="email" class="form-control" placeholder="Enter Email" value="">
        </div>
        <div class="form-group">
          <label for="address">Address:<span style="color:red;">*</span></label>
          <textarea id="address" name="address" class="form-control" placeholder="Enter Address" rows="3"></textarea>
        </div>
     </div>
     <div class="col-md-6">
        <div class="form-group">
          <label for="uname">Username:<span style="color:red;">*</span></label>
          <input id="uname" name="uname" class="form-control" placeholder="Enter Username" value="">
        </div>
        <div class="form-group">
          <label for="pswd">Password:<span style="color:red;">*</span></label>
          <input type="password" id="pswd" name="pswd" class="form-control" placeholder="Enter Password" value="">
        </div>
        <div class="form-group">
          <label for="recovery-contact">Recovery Contact:<span style="color:red;">*</span></label>
          <input id="recovery-contact" name="rcont" class="form-control" placeholder="Enter Recovery Phone" value="">
        </div>
        <div class="form-group">
          <label for="recovery-email">Recovery Email:<span style="color:red;">*</span></label>
          <input id="recovery-email" name="remail" class="form-control" placeholder="Enter Recovery Email" value="">
        </div>
        <div class="form-group">
          <label for="location">Work Locations:<span style="color:red;">*</span></label>
          <select id="sel-locations" name="location" class="form-control">
          </select>
        </div>
        <div class="from-group" style={% if showActiveContol == "true" %}"visibility:visible;" {% else %} "visibility:hidden;"  {%endif%}>
          <label class="col-md-2 control-label" for="">Status</label>
          <div class="radio col-md-6">
            <label>
              <input type="radio" name="activeOptions" id="sactive"  value="1" checked>
              Active
            </label>
            <label>
              <input type="radio" name="activeOptions" id="sinactive" value="0">
              Inactive
            </label>
          </div>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" id="btn-save" class="btn btn-primary">Save</button>
      <a href="" class="btn btn-danger">Cancel</a>
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>


</section>
{% endblock %}
{% block addScripts %}
<script src="js/add.staff.js"></script>
{% endblock %}
