{% extends "/doctor/doctor-dash-base.html" %}
{% block content %}
<section id="book-Appointments-Section">
  <!-- /.row -->
  <div class="row">


    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation"><a id="patients-entry-link" href="#patients-entry-section" aria-expanded="true" aria-controls="profile" role="tab" data-toggle="tab">Patients Details</a></li>
        <li role="presentation"><a id="guardian-entry-link" href="#guardian-entry-section" aria-controls="messages" role="tab" data-toggle="tab">Guardian Details</a></li>
        <!--<li role="presentation"><a id="birth-entry-link" href="#birth-entry-section" aria-controls="messages" role="tab" data-toggle="tab">Births Details</a></li>-->
        <li role="presentation"><a id="patients-programme-link" href="#patients-entry-more-details-section" aria-controls="messages" role="tab" data-toggle="tab">Checkup Program</a></li>
        <li role="presentation"><a id="patients-history-link" href="#patients-history-section" aria-controls="messages" role="tab" data-toggle="tab">Appointment History</a></li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <hr class="invisible">


        <div role="tabpanel" class=" tab-pane active" id="patients-entry-section">

          <div class="panel panel-green">
            <div class="panel-heading">
              Patients Entry
            </div>
            <div class="panel-body">
              <div class="row">


                <div class="text-center">

                  <div class="form-group">
                    <img id="patient-picture-container" class="img-rounded" style="height:12em; width:12em;" src="">
                    <hr>


<div class="patient-upload-label text-right">  <label for="focusedinput" class=" col-lg-3 col-md-3 control-label">Upload pic</label>
</div>

  <div class=' col-lg-9 col-md-9 patient-upload-input text-left'>
                  <input id="patient-picture"  type="file" class=" hidden" name="files[]" >
<label for="patient-picture" id="patient-picture-lb-btn" class=" btn btn-info ">Select file</label>
<div id="files"></div>
</div>





                  </div>

                </div>
                <!-- /.col-lg-12 -->
              </div>


              <div class="content_bottom">
                <hr class="invisible">

                <form id="addCompanyForm"  class="form-horizontal">

                   <div class="form-group">
                      <label for="focusedinput" class="col-lg-3 col-md-3 control-label">Name:<span class="required">*</span></label>
                      <div class=' col-lg-9 col-md-9'>
                        <input  type="text" class="form-control" name="username" id="patient-name" placeholder="Full Name">
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="focusedinput" class="col-md-3  col-lg-3 control-label">Date Of Birth:<span class="required">*</span></label>
                      <div class='col-md-9 col-lg-9'>

                        <div class='input-group date' >
                          <input id="patient-date-of-birth" type='date' class="form-control" />
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                          </span>
                        </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-lg-3 col-md-3 control-label">Gender:</label>
                      <div class=" col-lg-9 col-md-9">
                        <label>
                          <input type="radio" name="activeOptions" id="rb-male"  value="1" checked>
                          Male
                        </label>
                        <label>
                          <input type="radio" name="activeOptions" id="rb-female" value="0">
                          Female
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-3 col-lg-3 control-label">Blood Group:</label>
                      <div class="col-md-9 col-lg-9">
                        <input type="text" class="form-control"  id="patient-blood-group" placeholder="Blood Group">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-3 col-lg-3 control-label">Weight:</label>
                      <div class="col-md-9 col-lg-9 ">
                        <input type="text" class="form-control"  id="patient-weight-input" placeholder="Weight">
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-3 col-lg-3 control-label">Height:</label>
                      <div class="col-md-9 col-lg-9">
                        <input type="text" class="form-control"  id="patient-height" placeholder="Height">
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-3  col-lg-3 control-label">Phone No:<span class="required">*</span></label>
                      <div class="col-md-9 col-lg-9">
                        <input type="text" class="form-control"  id="patient-contact1" placeholder="Phone no">
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-3  col-lg-3 control-label">Alternate Phone No:</label>
                      <div class="col-md-9 col-lg-9">
                        <input type="text" class="form-control"  id="patient-contact2" placeholder="Alternate Phone no">
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-3 col-lg-3 control-label">Address:</label>
                      <div class="col-md-9 col-lg-9">
                        <textarea class="form-control"  rows ="5" name="address" id="patient-address" ></textarea>
                        <p style="color:red;" id="dataSizeValidation" class="validation"></p>

                      </div>
                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-lg-3 col-md-3 control-label">Status:</label>
                      <div class=" col-lg-9 col-md-9">
                        <label>
                          <input type="radio" name="activeOptions" id="pactive"  value="1" checked>
                          Active
                        </label>
                        <label>
                          <input type="radio" name="activeOptions" id="pinactive" value="0">
                          Inactive
                        </label>
                      </div>
                    </div>
                </form>




              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="text-center">
                  <input id="patient-save-button" type="button" class="btn-success btn" value="Save"/>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"> </div>

        </div>





        <div role="tabpanel" class=" tab-pane" id="guardian-entry-section">

          <div class="panel panel-green">
            <div class="panel-heading">
              Guardians Information
            </div>
            <div class="panel-body">
              <div class="row">


                <div class="text-center">

                  <div class="form-group">
                    <img class="img-rounded" id="guardian-profile-image" style="height:12em; width:12em;">
                    <hr>

                    <div class="patient-upload-label text-right">  <label for="focusedinput" class=" col-lg-3 col-md-3 control-label">Upload pic</label>
                    </div>

                      <div class=' col-lg-9 col-md-9 patient-upload-input text-left'>
                                      <input id="guardian-picture"  type="file" class=" hidden" name="files[]" >
                    <label for="guardian-picture" id="guardian-picture-lb-btn" class=" btn btn-info ">Select file</label>
                    <div id="files2"></div>
                    </div>



                  </div>

                </div>
                <!-- /.col-lg-12 -->
              </div>


              <div class="content_bottom">
                <hr class="invisible">
                <div class="">
                  <form id="addCompanyForm"  class="form-horizontal">

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Name:<span class="required">*</span></label>
                      <div class='col-md-9'>

                        <input type="text" class="form-control" name="" id="txt-guardian-name" placeholder="Name">
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="from-date" class="col-sm-2 control-label">Birth date:<span class="required">*</span></label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="guardian-dob" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Gender:</label>
                      <div class=" col-sm-9">
                        <label>
                          <input type="radio" name="activeOptions" id="rb-male-guardian"  value="1" checked>
                          Male
                        </label>
                        <label>
                          <input type="radio" name="activeOptions" id="rb-female-guardian" value="0">
                          Female
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2  control-label">Phone No:<span class="required">*</span></label>
                      <div class="col-md-9">
                        <input type="text" class="form-control"  id="guardian-contact1" placeholder="Contact info">
                      </div>


                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Alternate Phone No:</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control"  id="guardian-contact2" placeholder="Contact info">
                      </div>


                    </div>


                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Address</label>
                      <div class="col-md-9">
                        <textarea class="form-control"  rows ="5" name="address" id="guardian-address" ></textarea>
                        <p style="color:red;" id="dataSizeValidation" class="validation"></p>

                      </div>
                    </div>

                  </form>

                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="text-center">
                  <input type="button" id="btn-guardian-save" class="btn-success btn" name="submit" value="Save"/>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"> </div>

        </div>



        <div role="tabpanel" class="tab-pane " id="birth-entry-section">

          <div class="panel panel-green">
            <div class="panel-heading">
              Birth Details

            </div>
            <div class="panel-body">


              <div class="content_bottom">
                <hr class="invisible">
                <div class="">
                  <form id="addCompanyForm"  class="form-horizontal">

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Delivery Method</label>
                      <div class='col-md-9'>
                        <select id="delivery-method" name="" class="form-control">
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Birth weight</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-weight" placeholder="Weight">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Length</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-length" placeholder="Length">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Head</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-head" placeholder="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Blood  group</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-blood-group" placeholder="Blood group">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Mother</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="mother-name" placeholder="Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Mother Blood group</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="mother-blood-group" placeholder="Blood group">
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Father</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="father-name" placeholder="Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Father Blood group</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="father-blood-group" placeholder="Blood group">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Siblings</label>
                      <div class='col-md-9'>
                        <textarea  class="form-control" row="3" name="" id="siblings" placeholder=""></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Remarks</label>
                      <div class='col-md-9'>
                        <textarea  class="form-control" row="3" name="" id="birth-remarks" placeholder=""></textarea>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="text-center">
                  <input type="submit" class="btn-success btn" name="submit" value="Save"/>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"> </div>

        </div>





        <div role="tabpanel" class="tab-pane" id="patients-entry-more-details-section">
          <hr class="invisible">
          <div class="form-group col-md-6">
            <label>Select Program : </label>
            <select id="sel-program-list" class="form-control">
            </select>
          </div>
          <div class="">

            <hr class="invisible">
            <button id="btn-attach-programme" type="button" class="btn btn-default">Assign</button>
          </div>



          <!-- /.panel -->
          <hr>
          <div id="programme-table-parent">
          </div>
          <div class="panel panel-default" hidden  id="programme-table-panel">

            <div class="panel-heading">
              <i class="fa fa-clock-o fa-fw"></i><i id="info-prog" class="programme-name">Program Schedule</i>
              <div class="pull-right">
              </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-9">
                  <div class="table-responsive table-condensed">
                    <table class="table text-center table-bordered table-hover table-striped " id="">
                      <thead >
                        <tr>
                          <th class="col-md-2">Duration</th>
                          <th class="col-md-1">Vaccine</th>
                          <th class="col-md-1">Dose No</th>
                          <th class="col-md-1">Due on</th>
                          <th class="col-md-1">Given on</th>
                          <th class="col-md-1">Batch</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-4 (nested) -->
                <!-- /.col-lg-8 (nested) -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>  <!--  programme tab ends -->


        <div role="tabpanel" class=" tab-pane" id="patients-history-section">

            {% include '/patient/patient-historysection.html' %}

        </div>

      </div>





    </div>


  </section>
  {% endblock %}

  {% block addScripts %}
  <script src="js/patient.entry.js"></script>
  {% endblock %}
