{% extends "/doctor/doctor-dash-base.html" %}
{% block addCss %}


<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<section id="book-Appointments-Section">
  <!-- /.row -->
  <div class="row">


    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation"><a id="patients-entry-link" href="#patients-entry-section" aria-expanded="true" aria-controls="profile" role="tab" data-toggle="tab">Patients Details</a></li>
        <li role="presentation"><a id="guardian-entry-link" href="#guardian-entry-section" aria-controls="messages" role="tab" data-toggle="tab">Guardian Details</a></li>
        <li role="presentation"><a id="patients-programme-link" href="#patients-entry-more-details-section" aria-controls="messages" role="tab" data-toggle="tab">Checkup Program</a></li>
        <!-- <li role="presentation"><a id="patients-history-link" href="#patients-history-section" aria-controls="messages" role="tab" data-toggle="tab">Appointment History</a></li> -->
        <li role="presentation"><a id="birth-entry-link" href="#patients-history-section" aria-controls="messages" role="tab" data-toggle="tab">Appointment History</a></li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <hr class="invisible">


        <div role="tabpanel" class=" tab-pane active" id="patients-entry-section">

          <div class="panel panel-green">
            <div class="panel-heading">
              Patients Entry
            </div>
            <div class="panel-body">
              <div class="row">


                <div class="text-center">

                  <div class="form-group">
                    <img id="patient-picture-container" class="img-thumbnail" style="height:12em; width:12em;" src="">
                    <hr>


                    <div class="patient-upload-label text-right">  <label for="focusedinput" class=" col-lg-3 col-md-3 control-label">Upload pic</label>
                    </div>

                    <div class=' col-lg-9 col-md-9 patient-upload-input text-left'>
                      <input id="patient-picture"  type="file" class=" hidden" name="files[]" >
                      <label for="patient-picture" id="patient-picture-lb-btn" class=" btn btn-info ">Select file</label>
                      <div id="files"></div>
                    </div>

                  </div>

                </div>
                <!-- /.col-lg-12 -->
              </div>


              <div class="content_bottom">
                <hr class="invisible">

                <form id="patientDetailsEntryForm"    role="form" data-toggle="validator" class="form-horizontal">

                  <div class="form-group">
                    <label for="focusedinput" class="col-lg-3 col-sm-3 col-md-3 control-label">Name:<span class="required">*</span></label>
                    <div class=' col-lg-6 col-md-6 col-sm-6'>
                      <input  type="text" class="form-control" name="P_username" id="patient-name" placeholder="Full Name">
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="focusedinput" class="col-md-3  col-lg-3  col-sm-3  control-label">Date Of Birth:<span class="required">*</span></label>
                    <div class='col-md-6 col-lg-6 col-sm-6'>

                      <div class='input-group date' >
                        <input id="patient-date-of-birth" name="P_Dob" type='text' class="form-control" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                        </span>
                      </div>

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="focusedinput" class="col-lg-3 col-md-3 col-sm-3  control-label">Gender:</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                      <label>
                        <input type="radio" name="P_gender" id="rb-male"  value="1" checked>
                        Male
                      </label>
                      <label>
                        <input type="radio" name="P_gender" id="rb-female" value="0">
                        Female
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="col-md-3 col-sm-3  col-lg-3 control-label">Blood Group:</label>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <select class="form-control" name="p_bloodgroup"  id="patient-blood-group"  placeholder="Blood Group">
                        <option value="-">-</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="Ab-">Ab-</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="focusedinput" class="col-md-3 col-lg-3 col-sm-3  control-label">Weight:</label>
                    <div class="col-md-6 col-lg-6 col-sm-6 ">
                      <input type="text" class="form-control" name="p_weight" id="patient-weight-input" placeholder="Weight in KG">
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="focusedinput" class="col-md-3 col-lg-3 col-sm-3  control-label">Height:</label>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <input name="p_height" type="text" class="form-control"  id="patient-height" placeholder="Height in ft">
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="focusedinput" class="col-md-3  col-lg-3 col-sm-3  control-label">Phone No:<span class="required">*</span></label>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <input type="text" class="form-control"  name="p_phnNo" id="patient-contact1" placeholder="Phone no">
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="focusedinput" class="col-md-3 col-lg-3 col-sm-3  control-label">Address:</label>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <textarea class="form-control"  rows ="5" name="p_address" id="patient-address" ></textarea>
                      <p style="color:red;" id="dataSizeValidation" class="validation"></p>

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="focusedinput" class="col-lg-3 col-md-3 col-sm-3  control-label">Status:</label>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                      <label>
                        <input type="radio" name="p_status" id="pactive"  value="1" checked>
                        Active
                      </label>
                      <label>
                        <input type="radio" name="p_status" id="pinactive" value="0">
                        Inactive
                      </label>
                    </div>
                  </div>

                </form>

              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="text-center">
                  <input  type="button" class=" patients-detail-form-submit btn-success btn" value="Save"/>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"> </div>

        </div>





        <div role="tabpanel" class=" tab-pane" id="guardian-entry-section">

          <div class="panel panel-green">
            <div class="panel-heading">
              Guardians Information
            </div>
            <div class="panel-body">
              <div class="row">


                <div class="text-center">

                  <div class="form-group">
                    <img class="img-thumbnail" id="guardian-profile-image" style="height:12em; width:12em;">
                    <hr>

                    <div class="patient-upload-label text-right">  <label for="focusedinput" class=" col-lg-3 col-md-3 control-label">Upload pic</label>
                    </div>

                    <div class=' col-lg-9 col-md-9 patient-upload-input text-left'>
                      <input id="guardian-picture"  type="file" class=" hidden" name="files[]" >
                      <label for="guardian-picture" id="guardian-picture-lb-btn" class=" btn btn-info ">Select file</label>
                      <div id="files2"></div>
                    </div>



                  </div>

                </div>
                <!-- /.col-lg-12 -->
              </div>


              <div class="content_bottom">
                <hr class="invisible">
                <div class="">
                  <form id="guardian-form"  class="form-horizontal">

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Name:<span class="required">*</span></label>
                      <div class='col-md-9'>

                        <input type="text" class="form-control" name="guardianname" id="txt-guardian-name" placeholder="Name">
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Gender:</label>
                      <div class=" col-sm-9">
                        <label>
                          <input type="radio" name="guardianGender" id="rb-male-guardian"  value="1" checked>
                          Male
                        </label>
                        <label>
                          <input type="radio" name="guardianGender" id="rb-female-guardian" value="0">
                          Female
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2  control-label">Phone No:<span class="required">*</span></label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" name="guardiancontact1" id="guardian-contact1"   placeholder="Contact info">
                      </div>


                    </div>


                    <div class="form-group">
                      <label for="focusedinput" class="col-md-2 col-lg-2 control-label">Address</label>
                      <div class="col-md-9">
                        <textarea class="form-control"  rows ="5" name="guardianAddress" id="guardian-address" ></textarea>
                        <p style="color:red;" id="dataSizeValidation" class="validation"></p>

                      </div>
                    </div>

                  </form>

                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="text-center">
                  <input type="button" class="btn-success btn patients-detail-form-submit" name="submit" value="Save"/>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"> </div>

        </div>



        <!-- <div role="tabpanel" class="tab-pane " id="birth-entry-section">

          <div class="panel panel-green">
            <div class="panel-heading">
              Birth Details

            </div>
            <div class="panel-body">


              <div class="content_bottom">
                <hr class="invisible">
                <div class="">
                  <form id="addCompanyForm"  class="form-horizontal">

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Delivery Method</label>
                      <div class='col-md-9'>
                        <select id="delivery-method" name="" class="form-control">
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Birth weight</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-weight" placeholder="Weight">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Length</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-length" placeholder="Length">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Head</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-head" placeholder="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Blood  group</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="birth-blood-group" placeholder="Blood group">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Mother</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="mother-name" placeholder="Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Mother Blood group</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="mother-blood-group" placeholder="Blood group">
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Father</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="father-name" placeholder="Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Father Blood group</label>
                      <div class='col-md-9'>
                        <input type="text" class="form-control" name="" id="father-blood-group" placeholder="Blood group">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Siblings</label>
                      <div class='col-md-9'>
                        <textarea  class="form-control" row="3" name="" id="siblings" placeholder=""></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-md-2 control-label">Remarks</label>
                      <div class='col-md-9'>
                        <textarea  class="form-control" row="3" name="" id="birth-remarks" placeholder=""></textarea>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="text-center">
                  <input type="submit" class="btn-success btn" name="submit" value="Save"/>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"> </div>

        </div>

 -->


    <div role="tabpanel" class="tab-pane " id="patients-history-section">
          {% include '/patient/patient-historysection.html' %}
    </div>
        <div role="tabpanel" class="tab-pane" id="patients-entry-more-details-section">
          <hr class="invisible">


          <form class="form-inline">
            <div class="form-group col-sm-12 col-md-10 col-lg-10" style="padding:6px">
              <label class="sr-only" for="exampleInputEmail3">Select Program : </label>
              <label>Select Program : </label>
              <select id="sel-program-list" class=" form-control" style="width:40%">
              </select>
              <button id="btn-attach-programme" type="button" class="btn btn-default" style="margin:6px 0px">Assign</button>
            </div>



          </form>



          <!-- /.panel -->
          <hr>
          <div id="programme-table-parent" style="min-width:562px" class="col-xs-12">
          </div>
          <div class="panel panel-default "  id="programme-table-panel">

            <div class="panel-heading">
              <i class="fa fa-clock-o fa-fw"></i><i id="info-prog" class="programme-name">Program Schedule</i>
              <div class="pull-right">
              </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body " >
              <div class="row">
                <div class="col-md-12">
                  <div style="height: 63vh;" class="table-condensed">
                  </div>
                  <!-- /.table-responsive -->
                  <div class="row table-container">

                    <table class="clone-table hidden table text-center table-bordered table-hover table-striped " id="">


                      <thead >
                        <tr>
                          <th colspan="6" class="text-center " style="height:40px"><h3 style="margin:0px" class="header"></h3></th>
                        </tr>

                        <tr>

                          <th >Duration</th>
                          <th >Vaccine</th>
                          <th >Dose No</th>
                          <th >Due on</th>
                          <th >Given on</th>
                          <th >Batch</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>


                </div>
                <!-- /.col-lg-4 (nested) -->
                <!-- /.col-lg-8 (nested) -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.panel-body -->
            <div class='panel-footer'>
              <div class="row">
                <div class="text-center">
                  <input  type="button" class=" patients-detail-form-submit btn-success btn" value="Save"/>
                </div>

              </div>

            </div>

          </div>
          <!-- /.panel -->

        </div>  <!--  programme tab ends -->




      </div>





    </div>


  </section>
  {% endblock %}

  {% block addScripts %}
  <script src="js/patient.entry.js"></script>
  {% endblock %}
