.login-btn{
    width:100% !important
}

.dashboard-appointment-table-btn{
    margin-top: 10px;
}


/*
 *
 *
 *styles to change the admin theme
 * 
 *
 *
 */

html,#wrapper{
    background-color:white;       /* to change the background color of the html and wrapper ***DONT CHANGE******/
}

/* start changing from here */

/* Note: if you want to do this step by step, just uncomment the atributes below and refresh to see the changes one by one */

/*navbar top color themes*/

.navbar-inverse{ 
   background-image: linear-gradient(to bottom, #3498db 0%, #1b83c9 100%) !important;  
    /* To change the background color where pms and jhon smith on top ** IMPORTANT **/
}

.navbar-inverse > ul > li > a{
 color:white !important;
 /* john Smith font color */
}

.navbar-inverse > ul > li > a:hover, .navbar-inverse > ul > li > a:focus {
   text-decoration: none !important;
   background-color: #1b83c9 !important;
   color:#e6ecf4;
       
    /* john Smith background color when mouse is over it */
}

.navbar-brand{
  color:white !important;
    
    /* pms font color on the top left conner */
}

.navbar-brand:hover{
  color:#e6ecf4 !important;
     /* pms font color on the top left conner when mouse is over it */
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #e6ecf4 !important;
   background-color: #1b83c9 !important;
    /* jhon smith background when clicked */
}




/* side navigatino bar color theme ************/

.side-nav{
    background-color:#3498db !important;
    
    /* to change the background color of the left navigation Panel (appointment, schedule manager, etc background) */
}

.side-nav > li > a{
    color : white !important;
    
    /* to change the font color of the left navigation items (appointment, schedule manager, etc )*/
}

.side-nav > li > a:hover, .nav-tabs > li > a:focus{
    text-decoration : none !important;
    background-color:#1b83c9 !important;
    color: #e6ecf4 !important;
    /* to change the background color of items in the left navigation when mouse is over it (appointment, schedule manager, etc )*/
}

.navbar-inverse .navbar-nav > .active > a {
   background-image: linear-gradient(to bottom, #1b83c9 0%, #1b83c9 100%) !important;
    
    /* background color of active left navigation item example : color when appointments is clicked */
}


.side-nav>li>ul>li>a{
    color:white !important;
    
    /* font color of sub menu items in the left navigation example (book appointmetns under appointments) */
}

.side-nav>li>ul>li>a:hover{
    color:  #e6ecf4 !important;
    background-color:#1b83c9;
    
    /* background color of sub menu items in the left navigation when mouse is over it. example (book appointmetns under appointments) */
}


#page-wrapper{
    /background-color:#e4f1ff !important; 
    /********* the background color of the forms which was white **********/
}






/* uptill here ********/






/**** the color themes of the forms **************/
.panel-green > .panel-heading{
    /color:white !important;
   / background-image: linear-gradient(to bottom, #2ecc71 0%, #2ecc71 100%) !important;
}
.panel-footer{
    
     //   background-color: #2ecc71 !important;
}






/*** others not required ******/
.nav-tabs > li.active > a{
    
  //  background-color:#3498db!important; 
}
.nav-tabs > li > a
{
    
     //background-color:#3498db !important;
}

/********** end styles to change the admin theme *************/


/*
 *
 *
 *style for calendar table
 * 
 *
 *
 */

.calendar-date{
    margin-bottom: 2px;
    display: inline-block;
    color: #C1C1C1;
}
.collapse-style{
    
    background-color:#ffffff;
    text-align:center;
}
.collapse-style:hover{
    background-color:#dfe2da !important;
   
}
.calendarTable > thead > tr > th {
    border: none !important;
}
.calendarTable{
    border: none !important;
}

.location-label{
    display: inline-block !important;
    border-radius: 20px !important;
    margin: 4px auto 4px auto;
    height: 17px;
    width: 17px;
    
}
td,th{
    width: 60px !important;
}
.calendar-list-group-heading{
    display:inline-block;
    margin-left:15px;
}

.calender-list-group-btn{
   padding:3px !important;
}

@media only screen and (max-width: 769px) {
  .calendar-show-btn{
    margin-left: 25px;
}

.calendar-form-group{
          margin-bottom: 8px !important;
}
}



/********** end style for calendar *************/
