

.main {
	width: 95%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em;
}



.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

.cbp_tmtimeline > li {
    height: 180px;
    max-height: 180px
	position: relative;
	border-bottom: 1px solid #afdcf8;
}

.cbp_tmtimeline > li.all-day {
	min-height: 70px;
	height: auto;
	max-height: auto;
	position: static;
}

.cbp_tmtimeline > li:first-child {
	border-top: 1px solid #afdcf8;
}  

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 1.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li .cbp_tmtime span > h6 {
	font-size: 0.4em;
	margin: 0;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  //height: 46px;
   // max-height: 46px;
    margin: 3px 0 2px 21%;
	//background: #3594cb;
	//color: #fff;
	//padding: 1px 5px 1px 10px;
	//font-size: 0.9em;
	//font-weight: 300;
	//line-height: 1.4;
	position: absolute;
	//border-radius: 5px;
	width: 79%;
	z-index: 10;
	overflow: auto;
}

.cbp_tmtimeline > li .cbp_tmlabel:last-child {
	margin-bottom: 5px;
}

.cbp_tmtimeline > li .cbp_tmlabel a {
	text-decoration: underline;
}

.cbp_tmtimeline > li.all-day .cbp_tmlabel{
	position: relative;
	font-weight: bold;
	width: auto;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

