

{% extends "/doctor/doctor-dash-base.html" %}

{% block addCss %}
<link href="css/morris.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row">

<div class="panel panel-green">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Analytics</h3>
  </div>
  <div class="panel-body">
      <img src="./images/20160611112537.jpg" style="vertical-align: middle;
    height: 60%;
    width: 60%;">
    <div id="morris-line-chart"></div>
  </div>


 </div>
{% endblock %}

    {% block addScripts %}

   
    <script src="js/analytics.js"></script>
    
    

{% endblock %}
