{% extends "/doctor/doctor-dash-base.html" %}
{% block content %}
<!-----------
-
-
---- dashboard section ------
-
-
---------->
<section id="dashboard-Section">


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

    <div class="col-lg-3 col-md-6 ">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">0</div>
              <div>Sales</div>
            </div>
          </div>
        </div>
        <a >
          <div class="panel-footer">
            <span class="pull-left">Todays Sales</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge invisible">13</div>
              <div>Manage Schedule!</div>
            </div>
          </div>
        </div>
        <a href="#" id="view-patients-dashboard-section-btn">
          <div class="panel-footer">
            <span class="pull-left">View Patients</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-green">
        <div class="panel-heading">
          <h3 class="panel-title">Todays Appointment</h3>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table class="calendarTable table   ">
              <thead >
                <tr>
                  <th class="text-center">Timing</th>
                  <th class="text-center"></th>
                  <th class="text-center">Location</th>



                </tr>
              </thead>
              <tbody>
                <tr  class="text-center">
                  <td >

                    <span >14:00 PM</span>
                  </td><td>
                    <button data-toggle="collapse" href="#collapseExample1" data class=" btn btn-primary">+</button>
                  </td>

                  <td >

                    <span class="invisible">.......</span><span >Margao</span>
                  </td>

                </tr>


                <!---------- collapse section----------->

                <tr  class="collapse "  id="collapseExample1">
                  <td colspan="4" >
                    <ul class="list-group">
                      <li class="list-group-item"> <h4 class="list-group-item-heading">Location : Margao</h4>
                        <span class="badge">in 0 minutes</span>
                        <p >   to have to meet in Margao regarding clinic schedule</p><br>
                        <button class="btn  btn-primary">Cancel Appointment</button><span class="invisible">....</span><button class="btn  btn-warning">Re-Schedule Appointment</button></li>


                      </ul>
                    </td>
                  </tr>

                  <tr  class="text-center">
                    <td >

                      <span >18:00 PM</span>
                    </td><td><button data-toggle="collapse" href="#collapseExample2" data class=" btn btn-primary">+</button></td>

                    <td >

                      <span class="invisible">.......</span><span >Appointment at Cuncolim</span>
                    </td>


                  </tr>


                  <!---------- collapse section----------->

                  <tr  class="collapse "  id="collapseExample2">

                    <td colspan="4" >
                      <ul class="list-group">
                        <li class="list-group-item"> <h4 class="list-group-item-heading">Location : Cuncolim</h4>
                          <span class="badge">in 1 Hour</span>
                          <p >    Back Diagnosis of Joseph Pinto</p><br>
                          <button class="btn  btn-primary">Cancel Appointment</button><span class="invisible">....</span><button class="btn  btn-warning">Re-Schedule Appointment</button></li>


                        </ul>
                      </td>
                    </tr>
















                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <!-- /.col-lg-8 -->

        <div class="col-lg-4">
          <div class="panel panel-green">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa"></i>Appointment Tokens </h3>
            </div>
            <div class="panel-body">

              <div class="form-control">
                <div class="">
                  <label class="col-md-3" for="token-no">Token No.</label>
                  <input type="text" id="txt-token-no" class="form-control col-md-3" >
                </div>
              </div>
              <div class="form-control">
                <input type="button" class="btn btn-info" value="Show Info">
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- /.row -->



    </section>
    <!---------- end dashboard section----------->

    <!-- /#page-wrapper -->
    {% endblock %}

    {% block addScripts %}
    <script src="js/dash.home.js"></script>
    {% endblock %}
