<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/pms/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Patient Management</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/my-custom-style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" >


    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">PMS </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">



                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a  id="user-Profile-Btn-Link"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        <li class="divider"></li>
                        <li><a  id="doctor-dash-logout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a  id="dashboard-Section-Btn"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                       <li>




                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Appointment<span class="fa arrow"></span></a>
                           <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="book-Appointments-Section-Btn">Book Appointments</a>
                                </li>
                                <li>
                                    <a href="#" id="close-Book-Appointment-Section-Link-Btn">Close Appointments</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html" id="manage-Doctors-Schedule-Section-Link-Btn"><i class="fa fa-table fa-fw"></i> Manage Schedule</a>
                        </li>
                        <li>
                            <a href="#" id="doctors-Appointments-Section-Link-Btn"><i class="fa fa-table fa-fw"></i> Doctors appointments</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> More options<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="add-Staff-Section-Link-Btn">Add Staff</a>
                                </li>
                                <li>
                                    <a href="#" id="patients-History-Section-Link-Btn">patients appointment History</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
           <!-----------
               -
               -
              ---- dashboard section ------
               -
               -
               ---------->

            <section id="dashboard-Section">
                 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3326</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                </tr>
                                                <tr>
                                                    <td>3325</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:20 PM</td>
                                                    <td>$234.34</td>
                                                </tr>
                                                <tr>
                                                    <td>3324</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:03 PM</td>
                                                    <td>$724.17</td>
                                                </tr>
                                                <tr>
                                                    <td>3323</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:00 PM</td>
                                                    <td>$23.71</td>
                                                </tr>
                                                <tr>
                                                    <td>3322</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:49 PM</td>
                                                    <td>$8345.23</td>
                                                </tr>
                                                <tr>
                                                    <td>3321</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:23 PM</td>
                                                    <td>$245.12</td>
                                                </tr>
                                                <tr>
                                                    <td>3320</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:15 PM</td>
                                                    <td>$5663.54</td>
                                                </tr>
                                                <tr>
                                                    <td>3319</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:13 PM</td>
                                                    <td>$943.45</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                            <hr>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a>
                                                    </li>
                                                    <li><a href="#">Another action</a>
                                                    </li>
                                                    <li><a href="#">Something else here</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            </section>
           <!---------- end dashboard section----------->


            <!-----------
                -
                -
               ---- Book appointments section ------
                -
                -
                ---------->

       <section id="book-Appointments-Section">


            <!-- /.row -->
            <div class="row">
                <div class="container">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Book appointment
                        </div>
                        <div class="panel-body">
                         <div class="row">
		<div class="text-center">
			<h1 class="page-header">New Appointment</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>


<div class="content_bottom">




        <div class="col-md-offset-2">
             	<form id="addCompanyForm"  class="form-horizontal">
                <div class="form-group">
              <label for="focusedinput" class="col-md-2 control-label">Appointment Date</label>
	<div class='col-md-6'>


		   <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

    </div>

                </div>
    <div class="form-group">
           <label for="focusedinput" class="col-md-2 control-label">Appointment Time</label>
	<div class='col-md-6'>

            <div class='input-group date' id='datetimepicker3'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>

    </div>
    </div>





		<div class="form-group">
		<label for="focusedinput" class="col-md-2 control-label">Patient Name<span class="required">*</span></label>
		<div class="col-md-6">
		<input type="text" class="form-control" name="username" id="username" placeholder="Default Input">
		</div>

		</div>
		<div class="form-group">
		<label for="focusedinput" class="col-md-2 control-label">Contact<span class="required">*</span></label>
		<div class="col-md-6">
		<input type="text" class="form-control" name="username" id="username" placeholder="Default Input">
		</div>

		</div>

		<div class="form-group">
		<label for="focusedinput" class="col-md-2 control-label">Description</label>
		<div class="col-md-6">
		<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
		<p style="color:red;" id="dataSizeValidation" class="validation"></p>

		</div>
		</div>





	</form>

        </div>
    </div>
    </div>
                        	<div class="panel-footer">
	<div class="row">
	<div class="text-center">
	<input type="submit" class="btn-success btn" name="submit" value="Book An Appointment"/>
	</div>

	</div>
	</div>
</div>
<div class="clearfix"> </div>
</div>



		</div>






                        </div>


       </section>

            <!---------- end book appointments section----------->


    <section id="doctors-Registration-Form-Section">
      <hr class="invisible">
      <hr class="invisible">
      <div class="container">

        <form class="form-horizontal" >
          <input type="hidden" id="did" value="0" >

          <div class="form-group ">
            <label  class="col-md-2 control-label" for="dcontact">Name</label>
              <div class="col-md-6">
                <input type="text" id="dname"  class="form-control" placeholder="Name">
              </div>
          </div>

          <div class="form-group">
            <label  class="col-md-2 control-label" for="dcontact">Contact</label>
              <div class="col-md-6">
                <input type="text" id="dcontact"  class="form-control" placeholder="Contact">
              </div>
          </div>

          <div class="form-group 2">
            <label  class="col-md-2 control-label" for="dalternate-contact">Alternate Contact</label>
              <div class="col-md-6">
                <input type="text" id="dalternate-contact"  class="form-control" placeholder="Contact">
              </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-6">
                <input type="text" id="demail"  name="email" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <label for="qualifications" class="col-md-2 control-label">Qualifications</label>
            <div class="col-md-6">
              <input type="text" id="dqualifications"  name="qualifications" class="form-control" placeholder="Qualifications">
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="col-md-2 control-label">Address</label>
            <div class="col-md-6">
              <textarea name="address" id="daddress" class="form-control" rows="3" placeholder="Address"></textarea>
            </div>
          </div>



          <div class="form-group">
            <label for="username" class="col-md-2 control-label">Username</label>
            <div class="col-md-6">
              <input type="text" id="duser-name"  name="username" class="form-control" placeholder="Qualifications">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-md-2 control-label">Password</label>
            <div class="col-md-6">
              <input type="password" id="dpassword"  name="password" class="form-control" placeholder="Password">
            </div>
          </div>

          <div class="form-group 2">
            <label  class="col-md-2 control-label" for="drecovery-contact">Recovery Contact</label>
              <div class="col-md-6">
                <input type="text" id="drecovery-contact" name="drecovery-contact" class="form-control" placeholder="Contact">
              </div>
          </div>

          <div class="form-group">
            <label for="drecovery-email" class="col-md-2 control-label">Recovery Email</label>
            <div class="col-md-6">
                <input type="text" id="drecovery-email"  name="drecovery-email" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="from-group">
            <label class="col-md-2 control-label" for="">Status</label>
            <div class="radio col-md-6">
              <label>
                <input type="radio" name="activeOptions" id="dactive"  value="1" checked>
                Active
              </label>
              <label>
                <input type="radio" name="activeOptions" id="dinactive" value="0">
                Inactive
              </label>
            </div>
          </div>

          <hr class="invisible">
          <hr class="invisible">

          <div class="from-group col-md-6 ">
            <button type="button" id="btn-doc-reg-sumit" class=" btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary">Back</button>
          </div>


        </form>

      </div>
    </section>



    <section id="doctors-Manage-Schedule-Section">

    </section>



    <section id="close-Book-Appointments-Section">
             <!-- /.row -->
            <div class="row">
                <div class="container">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           close Book appointment
                        </div>
                        <div class="panel-body">
                         <div class="row">
		<div class="text-center">
			<h1 class="page-header">Closing Appointment</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>


<div class="content_bottom">




        <div >
             	<form id="addCompanyForm"  class="form-horizontal">

                    <div class="col-md-6">

                    <div class="form-group">
              <label for="focusedinput" class="col-md-3 control-label">Closing date</label>
	<div class='col-md-9'>


		   <div class='input-group date' id='datetimepicker2'>
                <input type='date' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

    </div>

                </div>

                          <div class="form-group">
           <label for="focusedinput" class="col-md-3 control-label">Closing time</label>
	<div class='col-md-9'>

            <div class='input-group date' id='datetimepicker3'>
               <select class="form-control">
                <option>1:00</option>

                </select>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>

    </div>
    </div>

                    </div>




                    <div class="col-md-6">
                              <div class="form-group">
              <label for="focusedinput" class="col-md-3 control-label">Next Appointment</label>
	<div class='col-md-9'>


		   <div class='input-group date' id='datetimepicker2'>
                <input type='date' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

    </div>

                </div>

                          <div class="form-group">
           <label for="focusedinput" class="col-md-3 control-label">Next Appt. Time:</label>
	<div class='col-md-9'>

            <div class='input-group date' id='datetimepicker3'>

                <select class="form-control">
                <option>1:00</option>

                </select>

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>

    </div>
    </div>

                    </div>


  <div class="row">
    <div class="col-md-6">

		<div class="form-group">
		<label for="focusedinput" class="col-md-3 control-label">Patient Name<span class="required">*</span></label>
		<div class="col-md-9">
		<input type="text" class="form-control" name="username" id="username" placeholder="Default Input">
		</div>

		</div>
		<div class="form-group">
		<label for="focusedinput" class="col-md-3 control-label">Prescription List<span class="required">*</span></label>
		<div class="col-md-9">
		<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
		<p style="color:red;" id="dataSizeValidation" class="validation"></p>

		</div>

		</div>

		<div class="form-group">
		<label for="focusedinput" class="col-md-3 control-label">Remarks:</label>
		<div class="col-md-9">
		<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
		<p style="color:red;" id="dataSizeValidation" class="validation"></p>

		</div>
		</div>



       </div>

       <div class="col-md-6">
           <div class="form-group">

           <div class="btn-group  col-md-offset-4">
               <a href="#" class="btn btn-info">Upload file</a>

            <a href="#" class="btn btn-info"> Remove Selected</a>
            </div>


           </div>

             	<div class="form-group">
		<label for="focusedinput" class="col-md-3 control-label">Scanned Document List:</label>
		<div class="col-md-9">
		<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
		<p style="color:red;" id="dataSizeValidation" class="validation"></p>

		</div>
		</div>
       </div>
  </div>





	</form>

        </div>
    </div>
    </div>
                        	<div class="panel-footer">
	<div class="row">
	<div class="text-center">
	<input type="submit" class="btn-success btn" name="submit" value="Close Appointment"/>
	</div>

	</div>
	</div>
</div>
<div class="clearfix"> </div>
</div>



		</div>






                        </div>


    </section>



            <section id="doctors-Apointments-Section">


            </section>


            <section id="patients-Appointment-History-Section">

            </section>


           <section id="add-Staff-Form-Section">
            	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Staff management for doctor
				</div>
				<div class="panel-body">
				<form name="staffFrm" id="staffFrm" role="form" method="POST">
					<div class="row">
						<div class="col-md-6">
								<div class="form-group">
									<label for="fname">First Name:<span style="color:red;">*</span></label>
									<input id="fname" name="fname" class="form-control" placeholder="Enter First Name" value="">
								</div>
								<div class="form-group">
									<label for="lname">Last Name:<span style="color:red;">*</span></label>
									<input id="lname" name="lname" class="form-control" placeholder="Enter Last Name" value="">
								</div>
								<div class="form-group">
									<label for="phone1">Contact 1:<span style="color:red;">*</span></label>
									<input id="phone1" name="phone1" class="form-control" placeholder="Enter Phone-1" value="">
								</div>
								<div class="form-group">
									<label for="phone2">Contact 2:</label>
									<input id="phone2" name="phone2" class="form-control" placeholder="Enter Phone-2" value="">
								</div>
								<div class="form-group">
									<label for="email">Email:<span style="color:red;">*</span></label>
									<input id="email" name="email" class="form-control" placeholder="Enter Email" value="">
								</div>
								<div class="form-group">
									<label for="address">Address:<span style="color:red;">*</span></label>
									<textarea id="address" name="address" class="form-control" placeholder="Enter Address" rows="3"></textarea>
								</div>
					   </div>
					   <div class="col-md-6">
								<div class="form-group">
									<label for="uname">Username:<span style="color:red;">*</span></label>
									<input id="uname" name="uname" class="form-control" placeholder="Enter Username" value="">
								</div>
								<div class="form-group">
									<label for="pswd">Password:<span style="color:red;">*</span></label>
									<input id="pswd" name="pswd" class="form-control" placeholder="Enter Password" value="">
								</div>
								<div class="form-group">
									<label for="rcont">Recovery Contact:<span style="color:red;">*</span></label>
									<input id="rcont" name="rcont" class="form-control" placeholder="Enter Recovery Phone" value="">
								</div>
								<div class="form-group">
									<label for="remail">Recovery Email:<span style="color:red;">*</span></label>
									<input id="remail" name="remail" class="form-control" placeholder="Enter Recovery Email" value="">
								</div>
								<div class="form-group">
									<label for="location">Work Locations:<span style="color:red;">*</span></label>
									<select id="location" name="location" class="form-control">
										<option value="0">--Select--</option>

											<option value="">

											</option>

									</select>
								</div>
					   </div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<button id="staffSub" class="btn btn-primary">Save</button>
							<a href="" class="btn btn-danger">Cancel</a>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>


            </section>










        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->


    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bundle.min.js"></script>
      <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>
