{% extends "standard-base.html" %}
{% block content %}
<div>
  <div class="container">
    <div class="row">
      <hr class="invisible">
      <hr class="invisible">
      <hr class="invisible">
      <hr class="invisible">
      <hr class="invisible">
      <hr class="invisible">
      <hr class="invisible">
      <hr class="invisible">
      <div id="alert-info" class="alert alert-info">
        <strong>Reset password!</strong> <span>Please enter you new password</span>
      </div>
      <div id="alert-reset-code-invalid" class="alert alert-info hidden">
        <strong>password reset link has expired, please go to <strong><a id="link-forgot-password" href="#">forgot password</a></strong>  to request for a new password reset link</strong>
      </div>
      <div id="alert-password-needed" class="alert alert-warning hidden">
        <strong>Please enter password</strong>
      </div>
      <div id="alert-confirm-password-needed" class="alert alert-warning hidden">
        <strong>Please enter confirm password</strong>
      </div>
      <div id="alert-password-not-matching" class="alert alert-warning hidden">
        <strong>Passwords do not match</strong>
      </div>
      <div class="panel panel-default panel-login col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="
      background-color: rgba(255, 255, 255, 0);
      " >
      <div class="panel-body">
        <!--<hr>--><br>
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-md-12">
              <input type="password" id="txt-password" placeholder="Password"  class="form-control input-lg">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <input type="password" id="txt-confirm-password" placeholder="Confirm Password"  class="form-control input-lg">
            </div>
          </div>

          <div class="form-group">
            <div class=" col-md-12">
              <a id="btn-reset-password" class="btn btn-info">Reset</a>
            </div>
          </div>

        </form>
      </form>

    </div>
  </div>
</div>

</div>
</div>
{% endblock %}
{% block addScripts %}
<script src="js/password.reset.js"></script>
{% endblock %}
