<form id="book-Appointment-Form"  role="form" data-toggle="validator" class="form-horizontal">

  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Location<span class="required">*</span></label>
    <div class="col-md-8">
      <select id="sel-locations" name="newBookSelLocations" class="form-control" >
        <option>...Select...</option>
      </select>
        
   
    </div>
   
  </div>

  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Appointment Date</label>
    <div class='col-md-8'>


      <div class='input-group date' id='datetimepicker24'>
        <input type='text' id="new-appointment-date" class="form-control" name="newAppointmentDate" required/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>

      </div>

    </div>
    
  </div>
  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Appointment Time</label>
    <div class='col-md-8 feedback-Custom'>

      <div class='input-group date' id='datetimepicker23'>
        <input type='text' name="newAppointmentTime" id="new-appointment-time"  class="form-control" required />
        <span class="input-group-addon">

          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
     
        
    </div>
   

  </div>


  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Appointment Duration<span class="required">*</span></label>
    <div class="col-md-8">
      <select name="newSelApptDuration" id="sel-appointment-duration" class="form-control">
      </select>
   
     
    </div>
    
  </div>


  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Patient Name<span class="required">*</span></label>
    <div class="col-md-8">
      <input type="text" id="new-appointment-patients-name"  class="typeahead form-control"  name="newBookusername" placeholder="Patients Name" required>
    
   
    </div>
  
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">DOB:</label>
    <div class='col-md-8'>


      <div class='input-group date' id='datetimepicker1'>
        <input name="bookApptDob" type='text' id="book-appointment-dob" class="form-control" required/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>

      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Gender:</label>
    <div class="col-md-8">
      <div class="radio">
        <label>
          <input name ="newApptgender" id="new-appointment-rb-male" type="radio"> Male
        </label>
      </div>

      <div class="radio">
        <label>
          <input  name ="newApptgender" id="new-appointment-rb-female" type="radio"> Female
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Height<span class="required"></span></label>
    <div class="col-md-8">
      <input type="text" name = "newApptHeight"class="form-control"  id="patient-height" placeholder="Patients Height">
    </div>

  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">weight<span class="required"></span></label>
    <div class="col-md-8 ">
      <input type="text" name="newbookWeight" class="form-control"  id="patient-weight" placeholder="Patients Weight">
    </div>

  </div>

  <div class="form-group">
    <label for="bloodgroup" class="col-md-2 control-label">Blood Group<span class="required"></span></label>
    <div class="col-md-8">
      <input type="text" name="newApptbloodgroup" class="form-control"  id="patient-blood-group" placeholder="Blood Group">
    
    </div>
  </div>


  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Contact<span class="required">*</span></label>
    <div class="col-md-8">
      <input type="text" class="form-control" name="newApptContact" id="book-appointment-contact" placeholder="Your telephone contact no"   required> 
    </div>

    
  </div>

  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Description</label>
    <div class="col-md-8">
      <textarea class="form-control"   rows ="5" name="newApptaddress" id="book-appointment-description" required></textarea>
          
      
      
      </div>
   
    </div>
      <div class="row">
        <div class="text-center">
          <button id="book-appointment-button" class="btn-success btn" name="submit" >Book Appointment</button>
        </div>
      </div>

  </form>
