<form id="timeline-cancel-form"  role="form" data-toggle="validator" class="form-horizontal">

  <div class="form-group has-feedback">
    <label for="focusedinput" class="col-md-2 control-label">Description</label>
    <div class="col-md-8">
      <textarea class="form-control"   rows ="5" name="address" id="cancel-appointment-reason" required></textarea >
        <div class="help-block with-errors"></div>
        <p style="color:red;" id="dataSizeValidation" class="validation"></p>

      </div>
      <div class="col-md-1">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
    <div class="">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" id="cancel-appointment-btn" class="btn-success btn" name="submit" >Cancel Appointment</button>
    </div>


  </form>
