<form id="close-appointment-form"  class="form-horizontal">

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Closing date<span class="required">*</span></label>
    <div class='col-md-8'>

      <div class='input-group date' >
        <input id="close-appointment-date" name="closingDate" type='text' class="form-control" />
        <span id="close-appointment-date-icon" class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

    </div>

  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Closing time<span class="required">*</span></label>
    <div class='col-md-8'>

      <div class='input-group date' >
        <input id="close-appointment-time" name="closingTime" type="text" class="form-control">
        <span id="close-appointment-time-icon" class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2  col-sm-2 control-label"></label>
    <div class="col-md-8 col-sm-8 ">
      <div class="checkbox">
        <label>
          <input id="book-next-appointment" type="checkbox">Book next appointment
        </label>
      </div>
    </div>
  </div>

  <div class="form-group book-next-controls hidden">
    <label for="focusedinput" class="col-md-2 control-label">Appt. date</label>
    <div class='col-md-8'>

      <div class='input-group date' >
        <input id="next-appointment-date" type='text' class="form-control" />
        <span id="next-appointment-date-icon" class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

    </div>

  </div>

  <div class="form-group book-next-controls hidden">
    <label for="focusedinput" class="col-md-2 control-label">Appt. time</label>
    <div class='col-md-8'>

      <div class='input-group date' >
        <input id="next-appointment-time" type="text" class="form-control">
        <span id="next-appointment-time-icon" class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>

    </div>
  </div>

  <div class="form-group has-feedback book-next-controls hidden">
    <label for="focusedinput" class="col-md-2  col-sm-2 control-label">Appt. duration</label>
    <div class="col-md-8 col-sm-8">
      <select  id="duration-sel" class="form-control">
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Patient Name<span class="required">*</span></label>
    <div class="col-md-8">
      <input type="text" class="form-control" name="closingName" id="close-appointment-patients-name" placeholder="Patients name">
    </div>

  </div>


  <div class="form-group table-prescription-form">
    <label for="focusedinput" class="col-md-2 control-label">Prescription</label>
    <div class="col-md-8">
      <div class="table-responsive table-condensed ">
        <table class="table text-center table-bordered table-hover table-striped ">
          <thead id="prescription-table-header">

          </thead>
          <tbody id="prescription-list-table-body">
            <tr>
              <td>
                <input id="txt-medicine" type="text" placeholder="Medicine" class="form-control input-sm" autocomplete="off">
              </td>
              <td>
                <input id="txt-medicine-remark" type="text" placeholder="Dosage info" class="form-control input-sm">
              </td>
              <td>
                <button id="btn-add-row" class="btn btn-default btn-sm">Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Remarks<span class="required">*</span></label>
    <div class="col-md-8">
      <textarea class="form-control"  rows ="5" name="closingRemarks" id="close-appointment-remarks" ></textarea>
      <p style="color:red;" id="dataSizeValidation" class="validation"></p>

    </div>
  </div>

  <div class="form-group">
    <label for="focusedinput" class="col-md-2 control-label">Uploaded Documents</label>
    <div class="col-md-8">
    <input id="fileupload" type="file" class="form-control" name="files[]" >
      <div id="files"></div>
      <div class="btn-group close-appointment-upload">  </div>

    </div>
  </div>

</div>
<div class="modal-footer">
  <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
  <input type="submit" class="btn-success btn" id="close-appointment-submit-btn" name="submit" value="Close Appointment"/>
</div>
</form>
