{% extends "/doctor/doctor-dash-base.html" %}
{% block content %}
<section id="close-Book-Appointments-Section">
     <!-- /.row -->
    <div class="row">
       
            <hr class="invisible">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                   close Book appointment
                </div>
                <div class="panel-body">
                 <div class="row">
<div class="text-center">
<h1 class="page-header">Closing Appointment</h1>
</div>
<!-- /.col-lg-12 -->
</div>


<div class="content_bottom">




<div >
      <form id="addCompanyForm"  class="form-horizontal">

            <div class="col-md-6">

            <div class="form-group">
      <label for="focusedinput" class="col-md-3 control-label">Closing date</label>
<div class='col-md-9'>


<div class='input-group date' id='datetimepicker2'>
        <input type='date' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

</div>

        </div>

                  <div class="form-group">
   <label for="focusedinput" class="col-md-3 control-label">Closing time</label>
<div class='col-md-9'>

    <div class='input-group date' id='datetimepicker3'>
       <select class="form-control">
        <option>1:00</option>

        </select>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>

</div>
</div>

            </div>




            <div class="col-md-6">
                      <div class="form-group">
      <label for="focusedinput" class="col-md-3 control-label">Next Appointment</label>
<div class='col-md-9'>


<div class='input-group date' id='datetimepicker2'>
        <input type='date' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

</div>

        </div>

                  <div class="form-group">
   <label for="focusedinput" class="col-md-3 control-label">Next Appt. Time:</label>
<div class='col-md-9'>

    <div class='input-group date' id='datetimepicker3'>

        <select class="form-control">
        <option>1:00</option>

        </select>

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>

</div>
</div>

            </div>


<div class="row">
<div class="col-md-6">

<div class="form-group">
<label for="focusedinput" class="col-md-3 control-label">Patient Name<span class="required">*</span></label>
<div class="col-md-9">
<input type="text" class="form-control" name="username" id="username" placeholder="Default Input">
</div>

</div>
<div class="form-group">
<label for="focusedinput" class="col-md-3 control-label">Prescription List<span class="required">*</span></label>
<div class="col-md-9">
<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
<p style="color:red;" id="dataSizeValidation" class="validation"></p>

</div>

</div>

<div class="form-group">
<label for="focusedinput" class="col-md-3 control-label">Remarks:</label>
<div class="col-md-9">
<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
<p style="color:red;" id="dataSizeValidation" class="validation"></p>

</div>
</div>



</div>

<div class="col-md-6">
   <div class="form-group">

   <div class="btn-group  col-md-offset-4"><button class="btn btn-info">Upload file</button>
       <button class="btn btn-info"> Remove Selected</button>
     
    </div>


   </div>

      <div class="form-group">
<label for="focusedinput" class="col-md-3 control-label">Scanned Document List:</label>
<div class="col-md-9">
<textarea class="form-control"  rows ="5" name="address" id="address" ></textarea>
<p style="color:red;" id="dataSizeValidation" class="validation"></p>

</div>
</div>
</div>
</div>





</form>

</div>
</div>
</div>
                  <div class="panel-footer">
<div class="row">
<div class="text-center">
<input type="submit" class="btn-success btn" name="submit" value="Close Appointment"/>
</div>

</div>
</div>
</div>
<div class="clearfix"> </div>
</div>










                </div>


</section>
{% endblock %}

{% block addScripts %}
<script src="js/close.appointment.js"></script>
{% endblock %}
