<div class="col-md-12" >
  <div class="panel panel-green">
    <div class="panel-heading">
      <h3 class="panel-title">Quick Book</h3>
    </div>
    <div class="panel-body">
      <form class='form-inline '>

        <div class="input-group form-group">
          <input type='text'  class="form-control" placeholder="Patient or phone no" required/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>

        </div> <span class='invisible'>...</span>

        <div class='input-group form-group date ' id='datetimepicker24'>
          <input type='text' placeholder="Date"  class="form-control" required/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>

        </div>
        <span class='invisible'>...</span>
        <div class='form-group input-group date timepicker' id='datetimepicker23'>
          <input type='text' placeholder="Time"  class="form-control" required/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>

        </div>
        <span class='invisible'>...</span>
        <div class="form-group ">
          <button type="button" class="btn btn-success">Book Appointment</button>
        </div>

      </form>

    </div>
  </div>

</div>
