 

{% extends "/doctor/doctor-dash-base.html" %}

{% block addCss %}
<link href="css/morris.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="row">
 
<div class="panel panel-green">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Appointment Graph</h3>
  </div>
  <div class="panel-body">
   <div id="morris-line-chart"></div>
  </div>
 

 </div>
{% endblock %}

    {% block addScripts %}

    <script src="js/raphael.min.js"></script>
    <script src="js/morris.min.js"></script>
    <script src="js/morris-data.js"></script>
  

    <script src="js/jquery.flot.js"></script>
    <script src="js/jquery.flot.resize.js"></script>
    <script src="js/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot-data.js"></script>
    

    
{% endblock %}
