<html>
  <head>
    <base href="{{basePath}}" />
    <title>Online Appointment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/my-custom-style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" >
  </head>

  <!-- 3. Display the application -->
  <body>
  <div id="login-wrapper">
    <div class="container">
      <div class="row">
        <hr class="invisible">
        <hr class="invisible">
        <hr class="invisible">
        <hr class="invisible">
        <hr class="invisible">
        <hr class="invisible">
        <hr class="invisible">
        <hr class="invisible">
        <div class="panel panel-default  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel-body">
        <h2 class="text-center">Login</h2>
        <hr>
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-md-12">
              <input type="text" id="login-id" placeholder="Your Login Id"  class="form-control input-lg">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 ">
              <input type="password" id="login-password" placeholder="Your Password"  class="form-control input-lg">
            </div>
          </div>

          <div class="form-group">
            <div class=" col-md-12">
              <a id="login-submit" class="btn btn-info login-btn btn-lg ">Login</a>
            </div>
            <div class="col-md-12">
              <br>
              <span>Not registered?  <a id="btn-register-doctor" class="red remove-underline">Create an Account</a>   </span>
            </div>
          </div>

        </form>
        </form>

        </div>
        </div>
      </div>

    </div>
  </div>
  </body>
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/login.all.js"></script>
</html>
