{% extends "/doctor/doctor-dash-base.html" %}
{% block content %}
<section id="book-Appointments-Section">
  <!-- /.row -->
  <div class="row">
    <hr class="invisible">

      <div class="col-lg-9">
        <div class="panel panel-green">
          <div class="panel-heading">
            Program
          </div>
          <div class="panel-body">
            <div class="content_bottom">
              <div class="row">

                <div id="group-programme-name" class="form-group">
                  <label for="focusedinput" class="col-md-2  control-label">Program Name:<span class="required"></span></label>
                  <div class="col-md-4">
                    <input id="programme-name" type="text" class="form-control" aria-invalid="true">
                    <span id="help-programme-name" class=" hidden help-block .sr-only">Please enter the Program name</span>
                  </div>

                </div>
              </div>

              <div class="row">

                <div class="col-md-12">

                  <hr>
                  <div class="table-responsive table-condensed">
                    <table class="table text-center table-bordered table-hover table-striped ">
                      <thead id="programme-table-header">

<!-- <colgroup>
  <col width="20%"></col>
  <col width="20%"></col>
  <col width="20%"></col>
  <col width="20%"></col>
  <col width="20%"></col>


</colgroup> -->
                        <tr>
                          <th >Duration(weeks)</th>
                          <th >Text</th>
                          <th >Vaccine</th>
                          <th >Dose No</th>
                          <th ></th>

                        </tr>
                      </thead>
                      <tbody id="programme-list-table-body">
                        <tr>
                          <td>
                            <input id="txt-duration" type="number" max="100" min="0" maxlength="3" placeholder="Duration in weeks" class="form-control input-sm" >
                          </td>
                          <td>
                            <input id="txt-duration-text" type="text" placeholder="Duration text" class="form-control input-sm">
                          </td>
                          <td>
                            <input id="txt-vaccine" type="text" placeholder="Vaccine" class="form-control input-sm">
                          </td>
                          <td>
                            <input id="txt-dose-no" type="text" placeholder="Dose No." class="form-control input-sm">
                          </td>
                          <td class="last-td-col">
                            <button id="btn-add-row" class="btn btn-default btn-sm">Save</button>
                          </td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>

              </div>

              <div class="form-group">
                <label for="focusedinput" class="col-lg-2 col-md-2 col-sm-2  control-label">Status:</label>
                <div class=" col-lg-6 col-md-6 col-sm-6">
                  <label>
                    <input type="radio" name="p_status" id="pactive"  value="1" checked>
                    Active
                  </label>
                  <label>
                    <input type="radio" name="p_status" id="pinactive" value="0">
                    Inactive
                  </label>
                </div>
              </div>

            </div>
          </div>
             <div class="panel-footer">
          <div class="row">
            <div class="text-center">
              <input id="btn-submit-programme" type="button" class="btn-success btn" name="submit" value="Save"/>
              <span id="help-common-message" class="hidden alert-danger">Please enter all Program details</span>
            </div>

          </div>
        </div>
        </div>

      </div>
      <div class="clearfix"> </div>

  </div>
</div>
</section>
{% endblock %}

{% block addScripts %}
<script src="js/medical.programme.js"></script>
{% endblock %}
